@font-face {
  font-family: FontGame;
  src: url(../asset/fontgame.ttf);
}

.game_container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../public/imgXucSac/bgGame.png);
  background-size: cover;
  background-position: bottom;
  font-family: FontGame;
}

.btn {
  padding: 0.375rem 2.75rem;
}
